body {
    background-color: #68626296;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: #030971f1;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color:#030971f1;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgb(145, 142, 142);
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 25px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 25px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}
